<%- include("../partials/header") -%>
<body class="comment">
  <div class="ui main text container segment">
    <div class="ui huge header">
      Reply to <p><%= blog.title %></p>
    </div>
    <form class="ui form" action="/categories/technical/ml/<%= blog._id %>/comments" method="post">
      <div class="field">
        <label>Text</label>
        <input type="text" name="comment[text]" placeholder="Text" autocomplete="off">
      </div>
      <button class="ui blue inverted big button" type="submit">Submit</button>
    </form>
  </div>
  <br>
  <a class="btn btn-success" href="/categories/technical/ml">Go back</a>
</body>
<%- include("../partials/footer") -%>
