<%- include("partials/header") -%>
<body class="categories">
  <div class="container-fluid">

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 id="cat" class="display-4">Select a Category</h1>
      </div>
    </div>
    <div class="container">
      <div id="cat" class="row category">
        <div class="col-md-6">
          <a href="/categories/technical">
            <div id="tech" class="img">
              <div id="p">
                Technical
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6">
          <a href="/categories/other">
            <div id="other" class="img">
              <div id="p">
                Other
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
    <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
  </div>
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '996643424165946',
      xfbml      : true,
      version    : 'v8.0'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
</body>
<%- include("partials/footer") -%>
