<%- include("./partials/header") -%>
<body class="login">
  <h1>Login</h1>
  <form class="" action="/login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit" name="button">Submit</button>
  </form>
</body>
<%- include("./partials/footer") -%>
