<%- include("partials/header") -%>
<body class="other">
  <div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 id="cat" class="display-4">Select a Category</h1>
      </div>
    </div>
    <div class="container">
      <div class="row mar1">
        <div class="col-md-4">
          <a href="/categories/other/travel">
            <div id="travel" class="img">
              <div id="p">
                Travelling
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/categories/other/food">
            <div id="food" class="img">
              <div id="p">
                Food
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/categories/other/science">
            <div id="science" class="img">
              <div id="p">
                Science
              </div>
            </div>
          </a>
        </div>
      </div>
      <div id="cat" class="row mar">
        <div class="col-md-6">
          <a href="/categories/other/medical">
            <div id="medical" class="img">
              <div id="p">
                Medical
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6">
          <a href="/categories/other/music">
            <div id="music" class="img">
              <div id="p">
                Music
              </div>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</body>
<%- include("partials/footer") -%>
