<%- include("./partials/header") -%>
<body class="register">
  <h1>Signup</h1>
  <form class="" action="/register" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit" name="button">Submit</button>
  </form>

</body>
<%- include("./partials/footer") -%>
