<%- include("partials/header") -%>
<body class="technical">
  <div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 id="cat" class="display-4">Select a Category</h1>
      </div>
    </div>

    <div class="container">
      <div class="row mar1">
        <div class="col-md-4">
          <a href="/categories/technical/algorithms">
            <div id="algo" class="img">
              <div id="p">
                Algorithm
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/categories/technical/architecture">
            <div id="archi" class="img">
              <div id="p">
                Architecture
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/categories/technical/dbms">
            <div id="dbms" class="img">
              <div id="p">
                DBMS
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row mar">
        <div class="col-md-4">
          <a href="/categories/technical/ml">
            <div id="ml" class="img">
              <div id="p">
                Machine Learning
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/categories/technical/net">
            <div id="networking" class="img">
              <div id="p">
                Computer Networking
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/categories/technical/soft">
            <div id="soft" class="img">
              <div id="p">
                Software Engg.
              </div>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>

</body>
<%- include("partials/footer") -%>
